[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = git@github.com:puppetlabs/puppetlabs-postgresql.git
[submodule "puppet/modules/tomcat"]
	path = puppet/modules/tomcat
	url = git@github.com:puppetlabs/puppetlabs-tomcat.git
